<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person" class="emg.demos.spring.beans.Person" scope="singleton"
		factory-method="getInstance"> <!-- por defecto el scope es singleton prototype genera una instancia nueva 
			cada vez -->
		<constructor-arg value="17153544" type="long" index="0"
			name="id">
		</constructor-arg>
		<constructor-arg value="Edison" index="1" name="name"
			type="String">
		</constructor-arg>
		<property name="taxId" value="8890" />
		<!-- <value>8899</value> </property> -->
		<property name="address" ref="address"></property>
	</bean>
	<bean id="person2" class="emg.demos.spring.beans.Person" scope="singleton"
		factory-method="createPerson" factory-bean="personfactory"> <!-- por defecto el scope es singleton prototype genera una instancia nueva 
			cada vez -->
		<constructor-arg value="17143132" type="long" index="0"
			name="id">
		</constructor-arg>
		<constructor-arg value="Hodor" index="1" name="name"
			type="String">
		</constructor-arg>
		<property name="taxId" value="7754" />
		<!-- <value>8899</value> </property> -->
		<property name="address" ref="address2"></property>
	</bean>
	<bean id="address" class="emg.demos.spring.beans.Address">
		<constructor-arg type="String" name="street" value="Av. 10 de Agosto">
		</constructor-arg>
		<constructor-arg name="postcode" value="EC170130"
			type="String">
		</constructor-arg>
	</bean>


	<!-- P Namespaces -->
	<bean id="address2" class="emg.demos.spring.beans.Address"
		p:street="Av. Carapungo" p:postcode="170190">

	</bean>
	<bean id="personfactory" class="emg.demos.spring.beans.PersonFactory">
	</bean>
	<bean id="fruitbasket" class="emg.demos.spring.beans.FruitBasket">
		<constructor-arg name="name" type="String" value="Compras"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Naranja</value>
				<value>Pera</value>
				<value>Manzana</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- animals - hashmaps -->
	<bean id="lion" class="emg.demos.spring.beans.Animal">
		<property name="name" value="Igor"></property>
		<property name="type" value="lion"></property>
	</bean>
	<bean id="elephant" class="emg.demos.spring.beans.Animal">
		<property name="name" value="Richard"></property>
		<property name="type" value="elephant"></property>
	</bean>
	<bean id="snake" class="emg.demos.spring.beans.Animal">
		<property name="name" value="Bob"></property>
		<property name="type" value="snake"></property>
	</bean>
	<bean id="jungle" class="emg.demos.spring.beans.Jungle">

		<property name="foods">
			<props>
				<prop key="gorilla">banana</prop>
				<prop key="panda">bamboo</prop>
				<prop key="snake">eggs</prop>
			</props>
		</property>

		<property name="animals">
			<map>
				<entry key="lion" value-ref="lion"></entry>
				<entry key="elephant" value-ref="elephant"></entry>
				<entry key="snake" value-ref="snake"></entry>
			</map>
		</property>
	</bean>
</beans>
